<h1>Teller View</h1>
<div class="main">
  <section class="display">
    <!-- Display: Customer information except for when inquiring about transaction -->
    <h3>Customer Information</h3>
    <p>Customer Name: {{_bank.account.fname}} {{_bank.account.lname}} </p>
    <p>Age: {{_bank.account.age}}</p>
    <p>Address: {{_bank.account.address.street}}.<br>
      {{_bank.account.address.city}}, {{_bank.account.address.state}} {{_bank.account.address.zip}}<br>
      {{_bank.account.address.country}}
    </p>
    <br><br>
    <!-- Display: if inquiring about transactions -->
    <h3>Last 3 Transactions</h3>
      <!-- *ngFor to loop through array on the service.  '| slice' is an angular pipe that works like the Array.slice() method 
      Also including the ternary so we are only slicing the array if there are more than 3 transactions -->
      <p *ngFor="let transaction of _bank.account.transactions | slice: _bank.account.transactions.length < 3? 0 : (_bank.account.transactions.length - 3)">
        
        <!-- Here we are using the date and number pipes-->
        {{transaction.date | date: MMDDYYY}} -- {{transaction.type}}: ${{transaction.amount | number: '.2-2'}}
      </p>
  </section>
  <aside class="options">
    <section class="balance">
      <!-- Display customer balance -->
      Customer Balance: {{_bank.account.balance}}
    </section>
    <!-- Add functionality to the buttons below -->
    <ul class="options-list">
      <li class="options-item">

        <!-- input utilizing two way binding to save input value -->
        $<input [(ngModel)]="value" name="value" type="number" placeholder="Ex. 20.00"> 
      </li>

      <!--Show error message if entering a anything but a number larger than 0  -->
      <li *ngIf='invalidInput'>
          <small  class='error'>Please input an amount greater than $0</small>
      </li>
      <li class="options-item">
        <button (click)="withdraw()">Widthdrawl for Customer</button>
      </li>
      <li class="options-item">
        <button>Deposit for Customer</button>
      </li>
      <li class="options-item">
        <button>Customer Transaction History</button>
      </li>
    </ul>
  </aside>
</div>
