<h1>Teller View</h1>
<div class="main">
  <section class="display">
    <!-- Display: Customer information except for when inquiring about transaction -->
    <h3>Customer Information</h3>
    <p>Customer Name: First Last</p>
    <p>Age: 100</p>
    <p>Address: 1234 Test Lane.<br>
      San Diego, CA 92000<br>
      United States
    </p>
    <br><br>
    <!-- Display: if inquiring about transactions -->
    <h3>Last 3 Transactions</h3>
    <p>[01-01-2018] -  Deposit ($20 USD)</p>
    <p>[01-01-2018] -  Withdrawal ($40 USD)</p>
    <p>[01-01-2018] -  Deposit ($20 USD)</p>
  </section>
  <aside class="options">
    <section class="balance">
      <!-- Display customer balance -->
      $20.00 USD
    </section>
    <!-- Add functionality to the buttons below -->
    <ul class="options-list">
      <li class="options-item">
        <button>Widthdrawl for Customer</button>
      </li>
      <li class="options-item">
        <button>Deposit for Customer</button>
      </li>
      <li class="options-item">
        <button>Customer Transaction History</button>
      </li>
    </ul>
  </aside>
</div>
