<h1>ATM View</h1>
<div class="main">
  <section class="display">
    > Welcome, Henry!
    <!-- Display Feedback information here -->
  </section>
  <aside class="options">
    <!-- Add functionality to the buttons below -->
    <ul class="options-list">
      <li class="options-item">
        <button>Make a Widthdrawl</button>
      </li>
      <li class="options-item">
        <button>Deposit Money</button>
      </li>
      <li class="options-item">
        <button>Balance Inquiry</button>
      </li>
      <li class="options-item">
        <button>Transactions History</button>
      </li>
    </ul>
  </aside>
</div>
